# Outputs
*.so
*.o
*.a
*.lo
*.pc
.libs

sentinel-device-token
sentinel-proxy
libsentinel-device-token.la
sentinel-proxy-*.tar.gz
sentinel-proxy-*.tar.xz
sentinel-proxy-*.zip

# Test outputs
/tests/unit/unittests
test-suite*.log
tests/*/*.log
tests/*/*.trs

# Coverage output
*.gcno
*.gcda
/sentinel-proxy-*-coverage*

## Autotools
/.m4
/.aux
# http://www.gnu.org/software/automake
Makefile
Makefile.in
.deps
.dirstamp
# http://www.gnu.org/software/autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/config.log
/config.status
/configure
/configure.scan
/aminclude_static.am
# https://www.gnu.org/software/libtool/
/ltmain.sh
/libtool
# http://www.gnu.org/software/texinfo
/texinfo.tex

# test keys and certificates
tests/manual/ca1_certs/
tests/manual/ca2_certs/
tests/manual/keys/
tests/manual/self_sign_certs/
